$hoverColor: aqua;

ul {
  list-style-type: none;
  padding: 0;
}

li a {
  display: block;
  padding: .5em;
  cursor: pointer;
  &:hover {
    background: $hoverColor;
  }
}

.selected {
  border-left: .5em solid blue;
}
