h1 {
  background: orange;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  background: orange;
}

a {
  display: block;
  padding: .5em;
  text-decoration: none;
  color: black;

  &:hover {
    background-color: aqua;
  }
}
